<footer class="text-center footer-style">
  <div class="container">
      <div class="row">
          <div class="col-md-4 footer-col">
            <mat-icon>people_outline</mat-icon><h3>Creado por</h3>
              <p>
                  Malory Camargo <br />
                  Sebastian Prado
              </p>
          </div>
          <div class="col-md-4 footer-col">
            <img src="../../assets/images/github.png" style="margin-bottom: 0.4rem">
            <h3>Nuestros GitHubs</h3>
              <p>
                <a href="https://github.com/macred">Malory</a> <br />
                <a href="https://github.com/juanserodriguez29">Sebastian</a>
            </p>
              <ul class="list-inline">
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                  </li>
                  <li>
                      <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 footer-col">
            <mat-icon>call</mat-icon>
            <h3>Contacto</h3>
              <p>Malory: 320 893 3212 <br />
              Sebastian: 311 465 1426</p>
          </div>
      </div>
  </div>
</footer>
