<div class="container" style ="background-color: white;">

<h2 class="mx-ml" id="titulos"> Carrito de compra </h2>

<table class="table" >
  <thead>
    <ng-container matColumnDef="nombre" id="titulos">
      <th scope="col" id="titulos"> Producto </th>
      <th scope="col" id="titulos"> Nombre </th>
      <th scope="col" id="titulos"> Medida </th>
      <th scope="col" id="titulos"> Descripción </th>
      <th scope="col" id="titulos"> Precio </th>
    </ng-container>
      <tr *ngFor="let post of posts">
        <th id="titulos"><img id="imagen" [src]="post.imageUrl" class="card-img-top" alt="..."></th>
        <th id="titulos">{{ post.nombre }}</th>
        <th id="titulos">{{ post.medida }}</th>
        <th id="titulos">{{ post.descripcion }}</th>
        <th id="titulos">{{ post.precio }}</th>
  </thead>
</table>

<div>
  <button type="button" class="btn btn-outline-danger">Finalizar pedido</button>
 </div>
</div>

