

<div class="row">
  <div class="col-md-4 mt-3 mx-auto">
    <div class="card">
      <div class="card-header"
            style="justify-content: center;
                  text-align: center;
                  background-color: rgba(120,194,173,.75);
                  color: white;">
        <b>Bienvenido de nuevo <em>{{user.name}}</em></b>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <td scope="col">{{user.name}}</td>
          </tr>
          <tr>
            <th scope="row">Correo</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th scope="row">Dirección</th>
            <td>{{user.direccion}}</td>
          </tr>
          <tr>
            <th scope="row">Celular</th>
            <td>{{user.celular}}</td>
          </tr>
        </thead>
      </table>
      <button type="submit" class="btn btn-outline-primary mt-1" [routerLink]="['/edituser', userId]">Actualizar mis datos</button>
      </div>
  </div>
</div>


