<p>

</p>
<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card">
      <div class="card-header">
        Agregar producto
      </div>
      <div class="card-body">
        <form (submit)="createProduct()">
          <div class= "form-group">
            <input type="text" [(ngModel)]="product.name" name="name" class="form-control" placeholder="Nombre" required>
          </div>
          <div class= "form-group">
            <input type="text" [(ngModel)]="product.precio" name="precio" class="form-control" placeholder="Precio" required>
          </div>
          <div class= "form-group">
            <input type="text" [(ngModel)]="product.medida" name="medida" class="form-control" placeholder="Medida" required>
          </div>
          <div class= "form-group">
            <input type="text" [(ngModel)]="product.description" name="description" class="form-control" placeholder="Descripción" required>
          </div>
          <div class= "form-group">
            <input type="text" [(ngModel)]="product.disponibilidad" name="adress" class="form-control" placeholder="Disponibilidad" required>
          </div>

          <div class= "form-group">
            <input type="text" [(ngModel)]="product.unidades" name="unidades" class="form-control" placeholder="Unidades" required>

            <label for="formFile" class="form-label mt-4">Imagen</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <button type="submit" class= "btn btn-primary btn-block">
            Agregar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
